<!-- 📞 駿英企業社聯絡方式 -->
<div class="text-center text-muted small mt-5">
    <hr>
    <p>駿英企業社</p>
    <p>TEL: 04-7624868、04-7639856</p>
    <p>FAX: 04-7623685</p>
    <p>地址：彰化市崙平南路139-3號</p>
    <a href="https://lin.ee/oHbhDVn"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="32" border="0"></a>

    <!-- 或者使用按鈕樣式 -->
    <a href="mailto:cy7624868@gmail.com?subject=訂單問題&body=您好，我在訂購單上遇到以下問題：" class="btn btn-outline-secondary btn-sm">
        聯絡客服信箱
    </a>
</div>